

:root{

    --shopper-primary: #ff5000; 
    --shopper-primary-dark: #f2490c; 
    --shopper-primary-ligth: #FFD8C4;
    --shopper-primary-ligth-light: #fff5f0;

    --shopper-orange: #FF6B00; 

    --shopperWhite : #FFFFFF;
    --grey1: #EFEFEF;
    --grey2: #F7F7F7;
    --grey3: #EFEFEF;
    --grey4: #DCDCDC;
    --grey5: #C4C4C4;
    --grey6: #8C8C8C;
    --grey7: #6E6E6E;
    --grey8: #3E3E3E;

}


/*-----------------------------------------------------------------------*/


html, body, button {
/* width: 360px;
  display: flex;
  justify-content: center;
  align-items: center; */
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

div {
  color: var(--grey8);
  font-family: Roboto;
}


/*-----------------------------------------------------------------------*/



#timeslot {

flex-direction: column;
align-items: flex-start;
padding: 6px;


height: 44px;

background: var(--grey2);

border: 1px solid var(--grey6);
box-sizing: border-box;
border-radius: 4px;
}

#time {

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;

color: var(--grey8);

}

#money {

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;

text-align: right;

color: var(--grey5);

}

#timerow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 12px;
  grid-column-gap: 12px;
}


#main_wrapper {

  display: grid;
  flex-direction: column;
  grid-row-gap: 16px;
  padding: 16px;
  margin: 0;  

  background-color: #FFFFFF;
  border-radius: 4px;
}


#main_wrapper_collapsed {

  display: grid;
  flex-direction: column;
  grid-row-gap: 16px;
  padding: 16px;

  background-color: var(--grey3);;
  border-radius: 4px;
}



#screen {

  display: grid;

  width: 360px;
  align-items: flex-start;
  padding: 8px;
  grid-row-gap: 8px;
  background-color: var(--grey1);
  /*border: 1px solid #8C8C8C;*/

}



#icon_wrapper_56 {
  width: 56px;
  height: 56px;

  background-color: var(--grey2);
  border-radius: 12px;

  display: flex;
  flex-wrap: wrap;

  align-content: center;
}

#icon_wrapper_48_Secondary {
  width: 48px;
  height: 48px;

  background-color: #FFFFFF;

  border-radius: 12px;

  border: 1px solid var(--shopper-primary-ligth);
  border-radius: 24px;

  display: flex;
  flex-wrap: wrap;

  align-content: center;
}


#_3_col_block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 4px;
  grid-column-gap: 0px;

}



/*-----------------------------------------------------------------------*/



#Text_Medium_500 {
  font-weight: 500;
  font-size: 22px;
}

#Text_Medium_300 {
  font-weight: 500;
  font-size: 18px;
}

#Text_Medium_200 {
  font-weight: 500;
  font-size: 16px;
}

#Text_200 {
  font-size: 16px;
}

#Text_100 {
  font-size: 14px;
}



/*-----------------------------------------------------------------------*/



button.primary {

  border: 1px solid var(--shopper-primary);


  height: 48px;
  background-color: var(--shopper-primary);
  border-radius: 4px;


  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  color: white;

  font-weight: 500;
  font-size: 18px;
  padding-bottom: 2px;

  box-shadow: none;

  transition: .4s;

}

button.primary:active  {
  transition: .4s;
}


button.primary:hover{

  border: 1px solid var(--shopper-primary);
  background-color: var(--shopper-orange);
  transition: .4s;
  box-shadow: none;

}

button.primary:focus{

  background-color: var(--shopper-orange);
  box-shadow: none;

}


button.secondary {
  height: 48px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid var(--shopper-primary-ligth);

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  color: var(--shopper-primary);

  font-weight: 500;
  font-size: 18px;
  padding-bottom: 2px;

  transition: .4s;

}

button.secondary:active  {
  transition: .4s;
}


button.secondary:hover{

  background-color: var(--shopper-primary-ligth-light);
  transition: .4s;
  box-shadow: none;

}

button.secondary:focus{

  background-color: var(--shopper-primary-ligth-light);
  border: 0px;
  box-shadow: none;

}



















#main_wrapper {

  display: grid;
  flex-direction: column;
  grid-row-gap: 16px;
  padding: 16px;
  margin: 0;  

  background-color: #FFFFFF;
  border-radius: 4px;
}


#main_wrapper_collapsed {

  display: grid;
  flex-direction: column;
  grid-row-gap: 16px;
  padding: 16px;

  background-color: var(--grey3);;
  border-radius: 4px;
}

.collapsible {

  display: grid;
  flex-direction: column;
  grid-row-gap: 16px;
  padding: 16px;
  margin: 0;

  background-color: #ffffff;
  border-radius: 4px;

  border: none;
  outline: none;

  width: 100%;

}

/*Active работает как hover*/

.collapsible:active {
background-color: #770007;
  /*color: white;*/
  cursor: pointer;
  border: none;
  outline: none;

   flex-direction: column;
  grid-row-gap: 16px;
  padding: 16px;
  margin: 0;  

  background-color: #FFFFFF;
  border-radius: 4px 4px 0 0;

}

.collapsible:hover {
    border: none;
    outline: none;
    border-radius: 4px 4px 0 0;
}

.collapsible:focus {
    background-color: #ffffff;
    outline: none;
    border: none;
    border-radius: 4px 4px 0 0;
}


.active, {
    background-color: #f50000;
    border-radius: 4px 4px 0 0;

}

.content {
/*  padding: 0 16px 0px 16px;*/
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #ffffff;
  border-radius:  0 0 4px 4px;
}




